@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-center-column {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-center;
  @extend .align-center;
}

@include marginAndPaddingSizes();

.raised {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

.rounded {
  border-radius: 8px;
}

.size-100-percent {
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}
